.coverage
htmlcov
.env
.envrc
.venv/
.tool-versions
.DS_Store
pytest-report.xml
bin/
lib/
lib64
share/
include/
__pycache__
pyvenv.cfg
terraform/builds/
app/scans
app/cache
app/exports
app/config/cache/
app/config/scans/
app/config/exports/
